<div class="well">
  <h3>{{comment.name}} --{{comment.created}}</h3>
  <p>
    {{comment.body}}
  </p>
  {{update-comment comment=comment params=params updateComment="updateComment"}}
  <button {{action 'delete' comment}}>Delete Comment</button>
</div>
