<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      {{model.title}} {{model.created}}
    </h3>
  </div>
  <div class="panel-body">
    <img src={{model.img}}>
    <p>{{model.body}}</p>
  </div>
</div>
<button {{action 'delete' model}}>Delete</button>
