<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title">
      {{model.post.title}} {{model.post.created}}
    </h3>
  </div>
  <div class="panel-body">
    <img src={{model.post.img}}>
    <p>{{model.post.body}}</p>
  </div>
</div>
<button {{action 'delete' model.post}}>Delete</button>
{{update-post model=model parms=params update="update"}}
<hr>
{{new-comment saveComment="saveComment" model=model}}
{{#each model.post.comments as |comment|}}
  {{list-comment comment=comment destroyComment="destroyComment" updateComment="updateComment"}}
{{/each}}
